<ul style="list-style: none">
  <li>
    <strong>data:</strong>
    <span><%= PP.pp(ActionDispatch::Http::ParameterFilter.new(Rails.application.config.filter_parameters).filter(@data), "") %></span>
  </li>
</ul>
